<% layout("layouts/boilerplate") %>

<body>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Edit Listing</h3>
            </div>
            
            <form action="/listings/<%= listing._id %>?_method=PATCH" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" id="title" placeholder="enter title" class="form-control" value="<%= listing.title %>" required>
                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="description" id="description" placeholder="enter description" class="form-control" required><%= listing.description %></textarea>
                </div>

                <div class="mb-3">
                    Original Listing Image
                    <br>
                    <img src="<%= originalImageUrl %>" alt="listing_image">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="image" id="image" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" id="price" placeholder="enter price" class="form-control" value="<%= listing.price %>" required>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" id="country" placeholder="enter country" class="form-control" value="<%= listing.title %>" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" id="location" placeholder="enter location" class="form-control" value="<%= listing.location %>" required>
                </div>

                <br><br>

                <button class="btn edit-btn">Edit</button>
                    
                <br><br>
                
            </form>
        </div>
    </div>
</body>